body {
	background: #232323;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 12px;
  margin: 2em;
}
h1 {
	color: rgb(255, 255, 255);
}

#container {
	margin: 0 auto;
  max-width: 300px;
}

#display {
	background: rgb(0, 0, 128);
	color: rgb(255, 255, 255);
	height: 80px;
	text-align: center;
	font-size: 16px;
	padding: 25px;
}
#stripe {
	background-color: rgb(255, 255, 255);
	height: 30px;
	color: black;
	text-align: center;
}
.square {
	background: rgb(0, 128, 128);
	padding-bottom: 30%;
	width: 30%;
	margin: 1.66%;
	border-radius: 15px;
	float: left;
}
#reset:hover,  #easy:hover, #hard:hover {
	color: white;
	background-color: rgb(15, 70, 158);
}
button {
	margin: 5px auto 0;
	background-color: rgb(96, 121, 160);
	border-radius: 5px;
	text-align: center;
	line-height: 15px;
	font-size: 13px;
	font-weight: bold;
	cursor: pointer;
	opacity: 0.8;
	box-shadow: 0 2px 0 rgb(40, 51, 68);
	border: 2px solid #1b222d;
	user-select: none;
}
#messageDisplay {
	font-size: 13px;
	font-weight: bold;
}

.selected {
	background-color: blue;
}