body {
	background: #232323;
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  font-size: 12px;
  margin: 2em;
}
h1 {
	color: rgb(255, 255, 255);
}

#container {
	margin: 0 auto;
  max-width: 300px;
}

#display {
	background: rgb(0, 0, 128);
	color: rgb(255, 255, 255);
	height: 80px;
	text-align: center;
	font-size: 16px;
	padding: 25px;
}
#setting {
	background-color: rgb(255, 255, 255);
	color: rgb(0, 0, 128);

}
.square {
	background: rgb(0, 128, 128);
	padding-bottom: 30%;
	width: 30%;
	margin: 1.66%;
	border-radius: 15px;
	float: left;
}